.certificate-section{
    /* background:#ebafaf; */
    background:
    radial-gradient(circle at 20% 30%, rgba(242,217,160,.35), transparent 38%),
    radial-gradient(circle at 85% 25%, rgba(117,22,45,.30), transparent 42%),
    radial-gradient(circle at 70% 80%, rgba(176,86,113,.22), transparent 38%),
    radial-gradient(circle at 35% 90%, rgba(242,229,198,.12), transparent 35%),
    #541122;
    padding:80px 0;
    min-height:100vh;
}

.section-title{
    color:#F5E8E8;
    font-size:40px;
    font-weight:700;
    margin-bottom:40px;
}

.certificate-card{
    padding:30px;

    background: linear-gradient(
        145deg,
        #f5ceb3 0%,
        #f7ceb4 50%,
        #f7dac7 100%
    );
    border:1px solid rgba(242,217,160,0.25);
    border-radius:20px;
    box-shadow:
        0 12px 30px rgba(0,0,0,0.20),
        0 4px 10px rgba(117,22,45,0.15);
    transition:all .4s ease;
    border-radius:18px;
    display:flex;
    flex-direction:column;
}

.certificate-card:hover{
    transform:translateY(-8px);
    border:2px solid #8B1E2D;
    box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

.certificate-card h3{
    color:#541122;
    font-size:24px;
    font-weight:700;
    margin-bottom:18px;
}

.certificate-card p{
    color:#555;
    font-size:16px;
    line-height:1.7;
    margin-bottom:15px;
}

.certificate-card strong{
    color:#541122;
}

.view-btn{
    width:50%;
    margin-top:auto;
    background:#8B1E2D;
    color:#fff;
    padding:10px 20px;
    border-radius:8px;
    font-weight:600;
    text-decoration:none;
    transition:.3s;
}

.view-btn:hover{
    background:#6D1624;
    color:#fff;
}

@media (max-width:992px){

    .section-title{
        font-size:34px;
    }

    .certificate-card{
        padding:22px;
    }
}

@media (max-width:768px){

    .certificate-section{
        padding:60px 15px;
    }

    .section-title{
        font-size:30px;
    }

    .certificate-card{
        padding:20px;
    }

    .certificate-card h3{
        font-size:21px;
    }

    .certificate-card p{
        font-size:15px;
    }

    .view-btn{
        width:50%;
        text-align:center;
    }
}