@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    /* background:#eebabe; */
    background:
    radial-gradient(circle at 20% 30%, rgba(242,217,160,.35), transparent 38%),
    radial-gradient(circle at 85% 25%, rgba(117,22,45,.30), transparent 42%),
    radial-gradient(circle at 70% 80%, rgba(176,86,113,.22), transparent 38%),
    radial-gradient(circle at 35% 90%, rgba(242,229,198,.12), transparent 35%),
    #541122;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

.portfolio-title{
    width:90%;
    max-width:1100px;
    font-size:55px;
    font-family:'Playfair Display',serif;
    margin-bottom:30px;
    color:#ebd4d4;
}

.portfolio-title span{
    font-size:26px;
}

.card{
    width:90%;
    max-width:1100px;
    padding:40px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    gap:50px;
    background: linear-gradient(
        145deg,
        #ce7f93 0%,
        #cf9773 50%,
        #8b2841 100%
    );
    border:1px solid rgba(242,217,160,0.25);
    border-radius:20px;
    box-shadow:
        0 12px 30px rgba(0,0,0,0.20),
        0 4px 10px rgba(117,22,45,0.15);
    transition:all .4s ease;
    border-radius: 30px;
    box-shadow: 12px 12px 0 rgba(77,14,19,0.15);
}

.left{
    width:35%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.image-box{
    width:280px;
    height:320px;
    background:white;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.image-box img{
    width:100%;
    height:100%;
    object-fit:cover;
}



.right{
    width:65%;
}

.right h2{
    font-size:55px;
    font-family:'Playfair Display',serif;
    color:#222121;
}

.right h4{
    font-size:24px;
    color:#4D0E13;
    margin-top:8px;
}

.skills{
    display:inline-block;
    color:#4D0E13;
    background:#e4bcb7;
    padding:12px 22px;
    border-radius:40px;
    margin:25px 0;
    font-weight:500;
}

.right p{
    line-height:1.8;
    color:#222121;
    max-width:550px;
}

.info{
    margin-top:30px;
}

.info div{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
    color:#222121;
}

button{
    margin-top:25px;
    border:none;
    text-decoration: none;
    background:#4D0E13;
    color:white;
    padding:15px 30px;
    border-radius:40px;
    font-size:18px;
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    box-shadow:0 5px 12px rgba(0,0,0,.15);
    transition:.3s;
}

button:hover{
    background:#65131A;
    color:white;
}
@media (max-width:768px){
    .card{
        flex-direction:column;
    }

    .left,
    .right{
        width:100%;
        text-align:center;
    }
}
@media(max-width:900px){

.card{
    flex-direction:column;
    text-align:center;
}

.left{
    width:100%;
}

.right h2{
    font-size:42px;
}

.info div{
    justify-content:center;
}

button{
    margin:auto;
    margin-top:25px;
}

.portfolio-title{
    font-size:42px;
}

.image-box{
    width:240px;
    height:280px;
}

.barcode{
    width:240px;
}
}

@media(max-width:500px){

.card{
    padding:25px;
}

.portfolio-title{
    font-size:32px;
}

.right h2{
    font-size:34px;
}

.right h4{
    font-size:20px;
}

.skills{
    font-size:14px;
    padding:10px 15px;
}

.right p{
    font-size:15px;
}

.image-box{
    width:200px;
    height:240px;
}

.barcode{
    width:200px;
    height:40px;
}
}
Link{
    text-decoration:none !important;
}